


.container {
    h1 {
        text-align: center;
        margin: 30px 0;
    }
    .row {
        .card {
            display: flex;
            flex-direction: row;
            margin: 20px 0;
            
            transition: .5s;
            .row {
                padding: 20px 20px;
            
                .wrap1 {
                    padding: 0;
                    img {
                        padding: 0;
                    }
                }
                .wrap2 {
                    // display: flex;
                    // align-content: space-between;
                    // flex-direction: column;
                    padding: 0;
                    h3 {
                        text-align: center;
                    }
                    .wrap { 
                        display: flex;
                        justify-content: flex-end;
                        align-content: flex-end;
                        margin-top: -20px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        i {
                            text-align: center;
                            margin: 5px;
                            font-size: 20px;
                            color: #888;
                            cursor: pointer;
                            justify-content: end;
                            transition: .7s;
                            
                        }
                        :hover {
                            color: red;
                        }
                    }
                }
            }
        }
        .card:hover {
            box-shadow: #626262 0 0 20px 5px;
            cursor: pointer;
        }
    }
}

.red {
    color: red !important;
}

.blue {
    color: blue !important;
}


@media only screen and (max-width: 768px) {
    .wrap2 {
        h3 {
            margin: 40px 0;
        }
    }
}