<div class="container" id="content">
  <h1>Новини кіно</h1>
  <div class="row">
    <div class="card col-lg-12"  *ngFor="let newss of news | paginate: { itemsPerPage: 5, currentPage: p }">
      <div class="row col-12" routerLink="/new/{{ newss.id }}"  (click)="newsSelect( newss.id )">
        <div class="wrap1 col-sm-12 col-md-5 col-lg-5">
          <img class="col-lg-12" src="{{ newss.poster }}" alt="{{ newss.title }}">  
        </div>
        <div class="wrap2 col-sm-12 col-md-7 col-lg-7"> 
          <h3 class="col-lg-12 col-12">{{ newss.title | uppercase }}</h3>
          <div class="wrap">
            <i class="fas fa-eye view" id="view{{ newss.id }}" (click)="view(newss.id)" *ngIf="newss.view == false"></i>
            <i class="fas fa-eye view blue" id="view{{ newss.id }}" (click)="viewSel(newss.id)" *ngIf="newss.view == true"></i>
            <i class="fas fa-heart"  id="like{{ newss.id }}" (click)="like(newss.id)" *ngIf="newss.like == false"></i>
            <i class="fas fa-heart red"  id="like{{ newss.id }}" (click)="likeSel(newss.id)" *ngIf="newss.like == true"></i>
          </div>
          
          
        </div>
      </div>
    </div>
    
  </div>
  <pagination-controls (pageChange)="p = $event" style="text-align: center; margin: 20px"></pagination-controls>
</div>
   